body {
    margin: 0px;
    background-image: url("../resources/img/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

#mapa{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -255px 0 0 -445px;
    text-align: center;
    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}

div.poke img {
    position: absolute;
    top: 50%;
    left: 50%;
}

#poke1{
    margin: -150px 0px 0px -150px;
}
#poke2{
    margin: -70px 0px 0px 60px;
}
#poke3{
    margin: -30px 0px 0px -235px;
}
#poke4{
    margin: -5px 0px 0px 310px;
}

#validator{
    position: fixed;
    right: 0%;
    bottom: 0%;
}

#html{
    position: absolute;
    margin-left: -98px;
}