@font-face {
    font-family: 'Alola';
    src: local('Revue'),
    url(../resources/fonts/Revue.ttf) format('ttf');
}

body{
    background-image: url("../resources/img/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

#marco{
    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;

    width: 1000px;
    height: 460px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -230px;
}



#argazkia{
    position: absolute;
    margin-top: 45px;

    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}

#x{
    position: absolute;
    margin-left: 968px;
}

div.tabloia {
    font-family: Alola, Serif;

    position: absolute;
    margin-left: 451px;
    margin-top: 42px;

    width: 513px;
    height: auto;

    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}

div.egilea {
    width: 25em;
    height: 70px;
    padding: 5px;
    word-wrap: break-word;
}

div.egilea_text{
    position: absolute;
    margin-top: -70px;
    margin-left: 70px;
}

div.egilea_text_gorputza{
    position: absolute;
    margin-top: 5px;
    width: 25em;
}

div.iruzkinak {
    background-color: rgba(232,232,232,0.5);
    width: 500px;
    height: 185px;
    overflow: auto;
    padding: 5px;
}

div.iruzkina{
    width: 25em;
    height: auto;
    min-height: 45px;
    padding: 5px;
    margin-bottom: 20px;
}

div.iruzkina_text{
    margin-top: -70px;
    margin-left: 70px;
}

div.iruzkina_text_gorputza{
    margin-top: 5px;
    width: 25em;
    word-wrap: break-word;
}

a.gehiago{
    font-size: 0.75em;
}

textarea {
    resize: none;
    width: 505px;
    height: 50px;
}

button{
    width: 513px;
    height: 40px;
}

div.info{
    position: absolute;
    margin-top: 350px;

    width: 400px;
    height: 55px;

    font-family: Alola, Serif;
    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}

#gif{
    position: absolute;
}

div.n{
    position: absolute;
    margin-left: 75px;

}

div.izena{
    position: absolute;
    margin-left: 75px;
    margin-top: 20px;

    font-size: 200%;
}

div.pisua{
    position: absolute;
    margin-left: 230px;

}

div.altuera{
    position: absolute;
    margin-left: 340px;

}

div.tipo1{
    position: absolute;
    margin-left: 250px;
    margin-top: 40px;
}

div.tipo2{
    position: absolute;
    margin-left: 65px;
    margin-top: -21px;
}

textarea{
    background-color: rgba(255,255,255,0.7);
}

#validator{
    position: fixed;
    right: 0%;
    bottom: 0%;
    margin-bottom: 4px;
}

#html{
    position: absolute;
    margin-left: -98px;
}