@font-face {
    font-family: 'Alola';
    src: local('Revue'),
    url(../resources/fonts/Revue.ttf) format('ttf');
}

body{
    background-image: url("../resources/img/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    overflow-x: hidden;
}

#izenburua{
    position: relative;
    left: 50%;
    margin-left: -325px;
    margin-top: 50px;
}

#azalpena{
    font-family: Alola;
    text-align: center;

    position:absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -390px;

    width:780px;

    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}

#azalpena p{
    text-align:left;
    font-family: Alola;
    line-height: 18pt;
}

#kontua{
    position: absolute;
    left: 50%;
    margin-left: -140px;
    margin-top: 380px;

    text-align: center;

    width: 240px;
    height: 30px;

    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}

.link{
    font-family: Alola, Serif;
    font-size: 22px;
    color: #000000;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    text-decoration: none;
}

#login{
    position: absolute;
    margin-top: 5px;
    margin-left: -110px;
}

#erregistratu{
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
}



