@font-face {
    font-family: 'Alola';
    src: local('Revue'),
    url(../resources/fonts/Revue.ttf) format('ttf');
}

body{
    background-image: url("../resources/img/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

#izenburua
{
    font-family: Alola, Serif;
}


div.multzoa{
    position: absolute;
    top: 25%;
    left: 50%;
    margin: 0 0 0 -180px;
    text-align: center;
    border: 3px solid #d4d4d4;
    background-color: rgba(232,232,232,0.5);
    padding: 15px;
    border-radius: 15px;
}


input{
    width: 320px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

button{
    width: 90px;
    height: 40px;
}

input[type="text"], input[type="password"]{
    background-color: rgba(255,255,255,0.7);
}