body {
    margin: 0px;
    background-image: url("resources/img/login_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.mapa{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -255px 0 0 -445px;
    text-align: center;
    border: 3px solid #d4d4d4;
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 15px;
}